<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    {{>base}}
    <h2 id="login-text"><center>Login</center></h2>
    <div class="login-container"> 
        <form  id="form-login" action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" id="input-field" required>
            <input type="password" name="password" placeholder="Password"  id="input-field" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
