 <div class="navbar">
    
            <div class="Sign-up-name">
                <p>Attention</p>
            </div>

            <div class="log-sign">
                
                    <li><a href="signup" id="sign-log">Sign up</a></li>
                    <li><a href="/login" id="sign-log">Log in</a></li>
                
            </div>
        
    </div>